Repository detailobsessed/surfmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest-cov

.pre-commit-config.yaml:

# Minimum prek version for builtin hooks support
minimum_prek_version: "0.3.1"

repos:
  # prek builtin hooks - no network/env needed, instant execution
  - repo: builtin
    hooks:
      - id: trailing-whitespace
        priority: 0
      - id: end-of-file-fixer
        priority: 0
      - id: check-yaml
        args: [--allow-multiple-documents]
        priority: 0
      - id: check-toml
        priority: 0
      - id: check-json
        priority: 0
      - id: check-added-large-files
        priority: 0
      - id: check-merge-conflict
        priority: 0
      - id: check-case-conflict
        priority: 0
      - id: check-symlinks
        priority: 0
      - id: check-executables-have-shebangs
        priority: 0
      - id: mixed-line-ending
        args: [--fix=lf]
        priority: 0
      - id: detect-private-key
        priority: 0

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            --strict,
            --verbose,
            feat,
            fix,
            perf,
            build,
            chore,
            ci,
            docs,
            style,
            refactor,
            test,
          ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run ty check src
        language: system
        pass_filenames: false
        files: ^src/.*\.py$

      - id: pytest-cov
        name: pytest with 90% coverage
        entry: uv run pytest --cov=surfmon --cov-fail-under=90 -q
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

fix: parse Window will close events in get_active_workspaces (#96)
  src/surfmon/cli.py
  src/surfmon/db.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/conftest.py
  tests/test_bugfixes.py
  tests/test_cli.py
  tests/test_monitor.py
  tests/test_output.py
Due: ty, pytest-cov

chore: add pre-commit hook for unspecified encoding in write_text/read_text
  prek.toml
  scripts/check_unspecified_encoding.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
  tests/test_db.py
Due: ty, pytest-cov

chore(release): 0.18.0
  pyproject.toml
  uv.lock
Due: none

fix: address PR 97 review comments
  src/surfmon/monitor.py
  tests/test_cli.py
Due: ty, pytest-cov

style: collapse single-arg append onto one line (prek formatting)
  src/surfmon/monitor.py
Due: ty, pytest-cov

fix: address latest review comments on PR 97
  src/surfmon/monitor.py
  tests/test_monitor.py
  tests/test_output.py
Due: ty, pytest-cov

fix: add OSError handling in _format_orphan_issue and fix LS display test
  src/surfmon/monitor.py
  tests/test_output.py
Due: ty, pytest-cov

style: collapse multi-line f-strings and list comprehensions (prek formatting)
  src/surfmon/monitor.py
  tests/test_output.py
Due: ty, pytest-cov

fix: use tmp_path in test_with_database_dir_not_existing for Windows compatibility
  tests/test_monitor.py
Due: pytest-cov

chore: add pre-commit hook for unspecified encoding in write_text/read_text (#97)
  prek.toml
  scripts/check_unspecified_encoding.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
  tests/test_db.py
  tests/test_monitor.py
  tests/test_output.py
Due: ty, pytest-cov

fix: restore lazy matplotlib imports and fix PTY count 0 display
  src/surfmon/cli.py
  src/surfmon/display.py
Due: ty, pytest-cov

chore(release): 0.18.1
  pyproject.toml
  uv.lock
Due: none

fix: address Devin Review comments on PR #98
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
  tests/test_monitor.py
  tests/test_output.py
Due: ty, pytest-cov

fix(scripts): improve ast_audit duplicate string detection
  scripts/ast_audit.py
Due: pytest-cov

fix(lint): replace inline noqa:PLC0415 with per-file-ignores, fix ruff formatting
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/display.py
  src/surfmon/log_analysis.py
  src/surfmon/pty.py
Due: ty, pytest-cov

refactor: remove backward-compat re-exports from monitor.py, update all imports to source modules
  src/surfmon/display.py
  src/surfmon/monitor.py
  tests/test_cli.py
  tests/test_db.py
  tests/test_log_analysis.py
  tests/test_monitor.py
  tests/test_pty.py
  tests/test_workspaces.py
Due: ty, pytest-cov

fix(display): import PtyInfo from .pty not .monitor; add tests/test_display.py
  src/surfmon/display.py
  tests/test_display.py
Due: ty, pytest-cov

docs: trim REVIEW.md to reviewer-relevant content; update architecture for new modules
  REVIEW.md
Due: none

refactor: reduce complexity and improve code organization (#98)
  REVIEW.md
  pyproject.toml
  scripts/ast_audit.py
  src/surfmon/_constants.py
  src/surfmon/cli.py
  src/surfmon/config.py
  src/surfmon/db.py
  src/surfmon/display.py
  src/surfmon/log_analysis.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  src/surfmon/pty.py
  src/surfmon/workspaces.py
  tests/conftest.py
  tests/test_bugfixes.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_db.py
  tests/test_display.py
  tests/test_log_analysis.py
  tests/test_monitor.py
  tests/test_output.py
  tests/test_pty.py
  tests/test_workspaces.py
Due: ty, pytest-cov

chore(release): 0.19.0
  pyproject.toml
  uv.lock
Due: none

chore: update copier-uv-bleeding template to 0.32.2
  .copier-answers.yml
  prek.toml
  pyproject.toml
  uv.lock
Due: none

chore: update copier-uv-bleeding template to 0.32.2 (#99)
  .copier-answers.yml
  prek.toml
  pyproject.toml
  uv.lock
Due: none

refactor: remove duplicate orphan detection paths
  REVIEW.md
  src/surfmon/log_analysis.py
  src/surfmon/monitor.py
  src/surfmon/workspaces.py
  tests/test_workspaces.py
Due: ty, pytest-cov

refactor: remove duplicate orphan detection paths (#100)
  REVIEW.md
  src/surfmon/log_analysis.py
  src/surfmon/monitor.py
  src/surfmon/workspaces.py
  tests/test_workspaces.py
Due: ty, pytest-cov

feat: replace issue string severity with Issue dataclass and IssueSeverity enum
  REVIEW.md
  src/surfmon/_constants.py
  src/surfmon/db.py
  src/surfmon/log_analysis.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  src/surfmon/pty.py
  tests/test_cli.py
  tests/test_db.py
  tests/test_log_analysis.py
  tests/test_monitor.py
  tests/test_output.py
  tests/test_pty.py
Due: ty, pytest-cov

feat: replace issue string severity with Issue dataclass and IssueSeverity enum (#101)
  REVIEW.md
  src/surfmon/_constants.py
  src/surfmon/db.py
  src/surfmon/log_analysis.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  src/surfmon/pty.py
  tests/test_cli.py
  tests/test_db.py
  tests/test_log_analysis.py
  tests/test_monitor.py
  tests/test_output.py
  tests/test_pty.py
Due: ty, pytest-cov

chore(release): 0.20.0
  pyproject.toml
  uv.lock
Due: none

refactor: add slots=True frozen=True to all dataclasses
  src/surfmon/config.py
  src/surfmon/db.py
  src/surfmon/monitor.py
  src/surfmon/pty.py
  src/surfmon/workspaces.py
  tests/test_db.py
Due: ty, pytest-cov

refactor: add slots=True frozen=True to all dataclasses (#102)
  src/surfmon/config.py
  src/surfmon/db.py
  src/surfmon/monitor.py
  src/surfmon/pty.py
  src/surfmon/workspaces.py
  tests/test_db.py
Due: ty, pytest-cov

fix: resolve iCloud workspace paths with spaces and tildes
  src/surfmon/workspaces.py
  tests/test_workspaces.py
Due: ty, pytest-cov

fix: resolve iCloud workspace paths with spaces and tildes (#103)
  src/surfmon/workspaces.py
  tests/test_workspaces.py
Due: ty, pytest-cov

chore(release): 0.20.1
  pyproject.toml
  uv.lock
Due: none

fix: skip orphan detection for untitled workspace IDs
  src/surfmon/monitor.py
  src/surfmon/workspaces.py
  tests/test_monitor.py
  tests/test_workspaces.py
Due: ty, pytest-cov

fix: skip orphan detection for untitled workspace IDs (#104)
  src/surfmon/monitor.py
  src/surfmon/workspaces.py
  tests/test_monitor.py
  tests/test_workspaces.py
Due: ty, pytest-cov

chore(release): 0.20.2
  pyproject.toml
  uv.lock
Due: none

feat: friendly display for non-file workspace IDs
  src/surfmon/workspaces.py
  tests/test_workspaces.py
Due: ty, pytest-cov

feat: friendly display for non-file workspace IDs (#105)
  src/surfmon/workspaces.py
  tests/test_workspaces.py
Due: ty, pytest-cov

chore(release): 0.21.0
  pyproject.toml
  uv.lock
Due: none

refactor: extract language server detection into dedicated module (ISM-359)
  .gitignore
  .markdownlint.yaml
  AGENTS.md
  REVIEW.md
  src/surfmon/cli.py
  src/surfmon/db.py
  src/surfmon/display.py
  src/surfmon/language_servers.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
  tests/test_db.py
  tests/test_display.py
  tests/test_monitor.py
  tests/test_output.py
Due: ty, pytest-cov

refactor: extract language server detection into dedicated module (ISM-359) (#106)
  .gitignore
  .markdownlint.yaml
  AGENTS.md
  REVIEW.md
  src/surfmon/cli.py
  src/surfmon/db.py
  src/surfmon/display.py
  src/surfmon/language_servers.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
  tests/test_db.py
  tests/test_display.py
  tests/test_monitor.py
  tests/test_output.py
Due: ty, pytest-cov
