Repository detailobsessed/surfmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest-cov

ty:
  name: ty check
  entry: uv run ty check src
  language: system
  pass_filenames: false

pytest-cov:
  name: pytest with 90% coverage
  entry: uv run pytest --cov=surfmon --cov-fail-under=90 -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: enable PyPI publishing
  .github/workflows/release.yml
  pyproject.toml
Due: none

chore(release): 0.2.0
  pyproject.toml
  uv.lock
Due: none

fix: add encoding='utf-8' to all open() and write_text() calls
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_compare.py
  tests/test_monitor.py
Due: ty, pytest-cov

chore: update to copier-uv-bleeding 0.6.0
  .copier-answers.yml
  pyproject.toml
Due: none

chore(release): 0.2.1
  pyproject.toml
  uv.lock
Due: none

chore: update to copier-uv-bleeding 0.7.0
  .copier-answers.yml
  .github/workflows/release.yml
Due: none

fix: update to copier-uv-bleeding 0.7.1, fix markdownlint MD060, gitignore reports
  .copier-answers.yml
  .github/actionlint.yaml
  .gitignore
  README.md
  surfmon-20260204-162159.md
Due: none

chore(release): 0.2.2
  pyproject.toml
  uv.lock
Due: none

chore: remove beads tracking system
  .beads/.bv.lock
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  AGENTS.md
Due: none

chore: remove beads tracking system (#4)
  .beads/.bv.lock
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  AGENTS.md
Due: none

feat: add PTY leak detection
  src/surfmon/cli.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_monitor.py
  tests/test_output.py
Due: ty, pytest-cov

feat: add PTY leak detection (#5)
  src/surfmon/cli.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_monitor.py
  tests/test_output.py
Due: ty, pytest-cov

chore: update copier-uv-bleeding template to 0.19.1
  .copier-answers.yml
  .editorconfig
  .envrc
  .gitattributes
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/issue-triage.yml
  .lychee.toml
  .markdownlint.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  SECURITY.md
  mkdocs.yml
  prek.toml
  pyproject.toml
  src/surfmon/__init__.py
  uv.lock
Due: ty, pytest-cov

chore(release): 0.3.0
  pyproject.toml
  uv.lock
Due: none

chore: update copier-uv-bleeding template to 0.19.1 (#6)
  .copier-answers.yml
  .editorconfig
  .envrc
  .gitattributes
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/issue-triage.yml
  .lychee.toml
  .markdownlint.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  SECURITY.md
  mkdocs.yml
  prek.toml
  pyproject.toml
  src/surfmon/__init__.py
  uv.lock
Due: ty, pytest-cov

chore: update copier-uv-bleeding template to 0.20.1
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/1-bug.md
  .github/ISSUE_TEMPLATE/2-feature.md
  .github/ISSUE_TEMPLATE/3-docs.md
  .github/ISSUE_TEMPLATE/4-change.md
  .github/workflows/ci.yml
  .lychee.toml
  CODE_OF_CONDUCT.md
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/monitor.py
  src/surfmon/output.py
Due: ty, pytest-cov

chore: update copier-uv-bleeding template to 0.20.1 (#7)
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/1-bug.md
  .github/ISSUE_TEMPLATE/2-feature.md
  .github/ISSUE_TEMPLATE/3-docs.md
  .github/ISSUE_TEMPLATE/4-change.md
  .github/workflows/ci.yml
  .lychee.toml
  CODE_OF_CONDUCT.md
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/monitor.py
  src/surfmon/output.py
Due: ty, pytest-cov

fix: guard against ZeroDivisionError, fix process memory history alignment, extract helpers
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/1-bug.md
  .github/workflows/ci.yml
  .github/workflows/issue-triage.yml
  .github/workflows/release.yml
  .lychee.toml
  prek.toml
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/output.py
  tests/test_bugfixes.py
  tests/test_monitor.py
  tests/test_output.py
Due: ty, pytest-cov

fix: guard against ZeroDivisionError, fix process memory history alignment, extract helpers (#8)
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/1-bug.md
  .github/workflows/ci.yml
  .github/workflows/issue-triage.yml
  .github/workflows/release.yml
  .lychee.toml
  prek.toml
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/output.py
  tests/test_bugfixes.py
  tests/test_monitor.py
  tests/test_output.py
Due: ty, pytest-cov

chore: update copier-uv-bleeding template to 0.22.0
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .lychee.toml
  .markdownlint.yaml
  prek.toml
  pyproject.toml
  scripts/check-template-update.sh
  scripts/verify-scaffold.sh
  uv.lock
Due: none

chore: update copier-uv-bleeding template to 0.22.0 (#12)
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .lychee.toml
  .markdownlint.yaml
  prek.toml
  pyproject.toml
  scripts/check-template-update.sh
  scripts/verify-scaffold.sh
  uv.lock
Due: none

chore: update copier template to 0.27.1
  .copier-answers.yml
  .env.example
  .envrc
  .github/workflows/issue-triage.yml
  .github/workflows/pr-description.yml
  .github/workflows/release.yml
  .gitignore
  .windsurf/lifeguard.yaml
  README_TEMPLATE.md
  prek.toml
  pyproject.toml
  scripts/check-pathlib-encoding.py
  scripts/check-template-update.sh
  scripts/verify-scaffold.sh
  tests/test_cli.py
  uv.lock
Due: pytest-cov

fix: auto-detect Windsurf target when no explicit config is set
  .gitignore
  src/surfmon/config.py
  tests/test_config.py
Due: ty, pytest-cov

chore(release): 0.3.1
  pyproject.toml
  uv.lock
Due: none

fix: auto-detect Windsurf target when no explicit config is set (#13)
  .copier-answers.yml
  .env.example
  .envrc
  .github/workflows/issue-triage.yml
  .github/workflows/pr-description.yml
  .github/workflows/release.yml
  .gitignore
  .windsurf/lifeguard.yaml
  README_TEMPLATE.md
  prek.toml
  pyproject.toml
  scripts/check-pathlib-encoding.py
  scripts/check-template-update.sh
  scripts/verify-scaffold.sh
  src/surfmon/config.py
  tests/test_cli.py
  tests/test_config.py
  uv.lock
Due: ty, pytest-cov

build: update copier template to 0.27.6
  .copier-answers.yml
  .env.example
  .github/workflows/ci.yml
  .github/workflows/pr-description.yml
  .gitignore
  prek.toml
  scripts/check-pathlib-encoding.py
  scripts/check-template-update.sh
  scripts/verify-scaffold.sh
  uv.lock
Due: pytest-cov

build: update copier template to 0.27.6 (#14)
  .copier-answers.yml
  .env.example
  .github/workflows/ci.yml
  .github/workflows/pr-description.yml
  .gitignore
  prek.toml
  scripts/check-pathlib-encoding.py
  scripts/check-template-update.sh
  scripts/verify-scaffold.sh
  uv.lock
Due: pytest-cov

chore(release): 0.3.2
  pyproject.toml
  uv.lock
Due: none

chore: adopt copier-uv-bleeding 0.27.8 — inline release, fix CI, remove dead code
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/issue-triage.yml
  .github/workflows/release.yml
  pyproject.toml
  scripts/verify-scaffold.sh
Due: none

chore: updates all github actions with actions-up cli
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/copier-update.yml
  .github/workflows/release.yml
Due: none

chore: adopt copier-uv-bleeding 0.27.8 — inline release, fix CI, remove dead code (#16)
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/copier-update.yml
  .github/workflows/issue-triage.yml
  .github/workflows/release.yml
  pyproject.toml
  scripts/verify-scaffold.sh
Due: none

fix: consistent table widths with soft wrapping, centered header panel, and -h shorthand
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/output.py
Due: ty, pytest-cov

fix: rewrite README, add CLI docs, deploy GitHub Pages, clean up stale files
  .github/workflows/docs.yml
  .gitignore
  README.md
  README_TEMPLATE.md
  docs/reference/cli.md
  mkdocs.yml
  pyproject.toml
  reports/watch/20260204-134518.json
  reports/watch/20260204-135024.json
  reports/watch/20260204-135529.json
  reports/watch/20260204-140034.json
  reports/watch/20260204-140538.json
  reports/watch/20260204-141040.json
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/output.py
  surfmon-20260204-162159.json
  surfmon-20260204-164700.json
  surfmon-20260204-164700.md
  uv.lock
Due: ty, pytest-cov

refactor: centralize rich imports and table/panel factories in output.py
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/output.py
Due: ty, pytest-cov

refactor: add strict ruff lint rules and fix all violations
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/config.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
Due: ty, pytest-cov

refactor: split oversized functions to meet pylint complexity defaults
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
Due: ty, pytest-cov

chore: upgrade ruff to 0.15.1, fix except clause formatting bug
  prek.toml
  pyproject.toml
  uv.lock
Due: none

fix: unify main-process detection logic between cli.py and monitor.py
  src/surfmon/cli.py
  src/surfmon/monitor.py
Due: ty, pytest-cov

refactor: consolidate duplicate PTY threshold constants
  src/surfmon/cli.py
  src/surfmon/output.py
Due: ty, pytest-cov

fix: consistent table widths with soft wrapping, centered header panel, and -h shorthand (#17)
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/output.py
Due: ty, pytest-cov

Path conditions:
  ty: any of: ^src/.*\.py$
  pytest-cov: any of: \.py$
