Repository detailobsessed/surfmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest-cov

ty:
  name: ty check
  entry: uv run ty check src
  language: system
  pass_filenames: false

pytest-cov:
  name: pytest with 90% coverage
  entry: uv run pytest --cov=surfmon --cov-fail-under=90 -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore(release): 0.16.0
  pyproject.toml
  uv.lock
Due: none

test: fix stale self-exclusion test to isolate PID check
  src/surfmon/monitor.py
  tests/test_monitor.py
Due: ty, pytest-cov

test: fix stale self-exclusion test to isolate PID check (#93)
  src/surfmon/monitor.py
  tests/test_monitor.py
Due: ty, pytest-cov

fix: persist pty.issues to DB in store_pty_snapshot
  README.md
  src/surfmon/cli.py
  src/surfmon/db.py
  src/surfmon/monitor.py
  tests/test_cli.py
  tests/test_db.py
  tests/test_monitor.py
Due: ty, pytest-cov

fix: persist pty.issues to DB in store_pty_snapshot (#94)
  README.md
  src/surfmon/cli.py
  src/surfmon/db.py
  src/surfmon/monitor.py
  tests/test_cli.py
  tests/test_db.py
  tests/test_monitor.py
Due: ty, pytest-cov

chore(release): 0.16.1
  pyproject.toml
  uv.lock
Due: none

feat: IDE-state-aware stale language server detection
  src/surfmon/cli.py
  src/surfmon/db.py
  src/surfmon/monitor.py
  tests/test_cli.py
  tests/test_db.py
  tests/test_monitor.py
Due: ty, pytest-cov

fix: bump SCHEMA_VERSION and display stale status in ls-snapshot
  src/surfmon/cli.py
  src/surfmon/db.py
Due: ty, pytest-cov

fix: add stale count to summary display, use sqlite-utils API for migration
  src/surfmon/cli.py
  src/surfmon/db.py
Due: ty, pytest-cov

fix: use platform-consistent paths in stale detection tests
  tests/test_monitor.py
Due: pytest-cov

refactor: resolve workspace path once per LS in capture_ls_snapshot
  src/surfmon/monitor.py
Due: ty, pytest-cov

fix: guard _is_stale_workspace against empty active_ws_paths
  src/surfmon/monitor.py
Due: ty, pytest-cov

feat: IDE-state-aware stale language server detection (#95)
  src/surfmon/cli.py
  src/surfmon/db.py
  src/surfmon/monitor.py
  tests/test_cli.py
  tests/test_db.py
  tests/test_monitor.py
Due: ty, pytest-cov

chore(release): 0.17.0
  pyproject.toml
  uv.lock
Due: none

fix: parse Window will close events in get_active_workspaces
  src/surfmon/monitor.py
  tests/test_monitor.py
Due: ty, pytest-cov

feat: integrate stale LS detection into check command
  src/surfmon/cli.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/conftest.py
  tests/test_bugfixes.py
  tests/test_cli.py
  tests/test_output.py
Due: ty, pytest-cov

feat: integrate stale LS detection into check command
  src/surfmon/monitor.py
Due: ty, pytest-cov

fix: add encoding='utf-8' to write_text in close-event tests
  tests/test_monitor.py
Due: pytest-cov

chore: add pre-commit hook for unspecified encoding in write_text/read_text
  prek.toml
  scripts/check_unspecified_encoding.py
Due: pytest-cov

refactor: address code review feedback on PR #96
  src/surfmon/cli.py
  src/surfmon/monitor.py
Due: ty, pytest-cov

chore: add pre-commit hook for unspecified encoding in write_text/read_text
  prek.toml
  scripts/check_unspecified_encoding.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
  tests/test_db.py
Due: ty, pytest-cov

refactor: reduce complexity and improve code organization
  scripts/ast_audit.py
Due: pytest-cov

refactor: extract display functions from cli.py into display.py
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/display.py
  tests/test_bugfixes.py
  tests/test_cli.py
Due: ty, pytest-cov

refactor: reduce history() complexity from CC 24 to under threshold
  src/surfmon/cli.py
  src/surfmon/display.py
Due: ty, pytest-cov

fix: correct elif chain counting in AST audit depth calculator
  scripts/ast_audit.py
Due: pytest-cov

refactor: extract _build_ls_entry from capture_ls_snapshot
  src/surfmon/monitor.py
Due: ty, pytest-cov

refactor: extract workspaces.py, _constants.py from monitor.py; fix db.py C901
  src/surfmon/_constants.py
  src/surfmon/db.py
  src/surfmon/monitor.py
  src/surfmon/workspaces.py
  tests/test_monitor.py
Due: ty, pytest-cov

refactor: auto-generate HTML audit dashboard from ast_audit.py
  pyproject.toml
  scripts/ast_audit.py
Due: pytest-cov

refactor: extract log_analysis.py from monitor.py (~210 lines)
  src/surfmon/log_analysis.py
  src/surfmon/monitor.py
  tests/test_monitor.py
Due: ty, pytest-cov

refactor: extract pty.py from monitor.py (~200 lines)
  src/surfmon/display.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  src/surfmon/pty.py
  tests/test_monitor.py
Due: ty, pytest-cov

refactor: split test_monitor.py into 4 test modules
  tests/test_log_analysis.py
  tests/test_monitor.py
  tests/test_pty.py
  tests/test_workspaces.py
Due: pytest-cov

refactor: consolidate test fixtures into conftest.py
  tests/conftest.py
  tests/test_log_analysis.py
  tests/test_monitor.py
  tests/test_pty.py
  tests/test_workspaces.py
Due: pytest-cov

refactor: eliminate god functions in log_analysis.py and display.py
  src/surfmon/display.py
  src/surfmon/log_analysis.py
Due: ty, pytest-cov

refactor: reduce cyclomatic complexity in monitor.py and config.py
  src/surfmon/config.py
  src/surfmon/monitor.py
Due: ty, pytest-cov

refactor: reduce complexity in display, output, workspaces, and monitor
  src/surfmon/display.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  src/surfmon/workspaces.py
Due: ty, pytest-cov

refactor: extract _run_lsof_ptmx and _LsofResult from check_pty_leak
  src/surfmon/pty.py
Due: ty, pytest-cov

refactor: reduce CC in _row_to_analyze_dict and get_windsurf_processes
  src/surfmon/db.py
  src/surfmon/monitor.py
Due: ty, pytest-cov

refactor: extract magic strings in test_monitor.py into module constants
  tests/test_monitor.py
Due: pytest-cov

chore(tests): extract repeated magic strings into module-level constants
  tests/test_cli.py
  tests/test_config.py
  tests/test_db.py
  tests/test_log_analysis.py
  tests/test_monitor.py
  tests/test_output.py
  tests/test_pty.py
  tests/test_workspaces.py
Due: pytest-cov

chore(tests): extract remaining actionable magic strings into constants
  tests/test_cli.py
  tests/test_db.py
  tests/test_output.py
  tests/test_workspaces.py
Due: pytest-cov

Path conditions:
  ty: any of: ^src/.*\.py$
  pytest-cov: any of: \.py$
