Repository detailobsessed/surfmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest-cov

ty:
  name: ty check
  entry: uv run ty check src
  language: system
  pass_filenames: false

pytest-cov:
  name: pytest with 90% coverage
  entry: uv run pytest --cov=surfmon --cov-fail-under=90 -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore(release): 0.11.0
  pyproject.toml
  uv.lock
Due: none

feat: DB-first architecture — remove --save flags, rework watch/analyze, deprecate prune
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/db.py
  tests/test_cli.py
  tests/test_db.py
  uv.lock
Due: ty, pytest-cov

feat: DB-first architecture — remove --save flags, rework watch/analyze, deprecate prune (#83)
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/db.py
  tests/test_cli.py
  tests/test_db.py
  uv.lock
Due: ty, pytest-cov

chore(release): 0.12.0
  pyproject.toml
  uv.lock
Due: none

feat: ISM-344/345/347/348 surface orphaned LS in check, fix ghost sessions, remove compare, 7d analyze default
  README.md
  docs/screenshots/compare.png
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/db.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
  tests/test_compare.py
  tests/test_db.py
Due: ty, pytest-cov

feat: ISM-344/345/347/348 surface orphaned LS in check, fix ghost sessions, remove compare, 7d analyze default (#84)
  README.md
  docs/screenshots/compare.png
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/db.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
  tests/test_compare.py
  tests/test_db.py
Due: ty, pytest-cov

chore(release): 0.13.0
  pyproject.toml
  uv.lock
Due: none

feat(analyze): add --summary/-S flag to suppress timeline table
  src/surfmon/cli.py
  tests/test_cli.py
Due: ty, pytest-cov

feat: add watch discoverability tip to check output (ISM-350)
  src/surfmon/cli.py
  tests/test_cli.py
Due: ty, pytest-cov

feat: remove deprecated prune command and helpers
  README.md
  src/surfmon/cli.py
  tests/test_cli.py
Due: ty, pytest-cov

feat: drop --md and --json-file output flags from snapshot commands (ISM-352)
  src/surfmon/cli.py
  tests/test_cli.py
Due: ty, pytest-cov

fix: satisfy ruff format + check line-length for watch tip
  src/surfmon/cli.py
Due: ty, pytest-cov

refactor: type and harden _store_to_db wrapper (ISM-353)
  src/surfmon/cli.py
  tests/test_cli.py
Due: ty, pytest-cov

style: add blank line after TYPE_CHECKING block
  src/surfmon/cli.py
Due: ty, pytest-cov

refactor: skip watch tip when check exits with error (ISM-350)
  src/surfmon/cli.py
  tests/test_cli.py
Due: ty, pytest-cov

refactor: use db.close() instead of db.conn.close() per review feedback
  src/surfmon/cli.py
  tests/test_cli.py
Due: ty, pytest-cov

docs: update README to remove --md, --json-file, and --save flag references (ISM-352)
  README.md
Due: none

chore(release): 0.14.0
  pyproject.toml
  uv.lock
Due: none

chore(release): 0.15.0
  pyproject.toml
  uv.lock
Due: none

refactor: move watch tip to try-except-else for clean-exit-only semantics (ISM-357)
  src/surfmon/cli.py
Due: ty, pytest-cov

fix: close DB connections in history, trend, and analyze commands (ISM-356)
  src/surfmon/cli.py
  tests/test_cli.py
Due: ty, pytest-cov

feat: check exit code reflects issue severity (0/1/2) instead of binary (ISM-346)
  src/surfmon/cli.py
  src/surfmon/monitor.py
  tests/test_cli.py
  tests/test_monitor.py
Due: ty, pytest-cov

style: fix multi-line assert formatting per prek hooks
  tests/test_monitor.py
Due: pytest-cov

refactor: DRY up DB connection closing with open_db context manager (ISM-356)
  src/surfmon/cli.py
  src/surfmon/db.py
  tests/test_cli.py
  tests/test_db.py
Due: ty, pytest-cov

fix: close DB connection if _ensure_schema fails in get_db (ISM-356)
  src/surfmon/db.py
Due: ty, pytest-cov

docs: update exit codes in README, add unprefixed-issue test and docstring note
  README.md
  src/surfmon/monitor.py
  tests/test_monitor.py
Due: ty, pytest-cov

refactor: use ISSUE_WARNING_PREFIX explicitly in max_issue_severity
  src/surfmon/monitor.py
Due: ty, pytest-cov

refactor: use prefix constants in f-strings, consolidate classify_issue_severity
  src/surfmon/db.py
  src/surfmon/monitor.py
  tests/test_db.py
Due: ty, pytest-cov

fix: add ISSUE_CRITICAL_PREFIX to capture_ls_snapshot issue strings
  src/surfmon/monitor.py
  tests/test_cli.py
Due: ty, pytest-cov

fix: remove double ✖ prefix in ls-snapshot issue display
  src/surfmon/cli.py
Due: ty, pytest-cov

fix: restore red styling on ✖ prefix in ls-snapshot display
  src/surfmon/cli.py
Due: ty, pytest-cov

style: add spaces around slice colons per ruff format
  src/surfmon/cli.py
Due: ty, pytest-cov

fix: ls-snapshot tiered exit codes and update tests
  src/surfmon/cli.py
  tests/test_cli.py
Due: ty, pytest-cov

chore(release): 0.15.1
  pyproject.toml
  uv.lock
Due: none

fix: ls-snapshot --json now exits with severity code
  src/surfmon/cli.py
Due: ty, pytest-cov

refactor: move style_issue to output.py and apply per-issue coloring in display_report
  src/surfmon/cli.py
  src/surfmon/output.py
Due: ty, pytest-cov

docs: scope exit code table to check and ls-snapshot commands
  README.md
Due: none

docs: add REVIEW.md code review guide
  REVIEW.md
Due: none

docs: fix markdownlint MD060 table column style in REVIEW.md
  REVIEW.md
Due: none

docs: add migration note for exit code change in check/ls-snapshot
  README.md
Due: none

Path conditions:
  ty: any of: ^src/.*\.py$
  pytest-cov: any of: \.py$
