Repository detailobsessed/surfmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest-cov

.pre-commit-config.yaml:

# Minimum prek version for builtin hooks support
minimum_prek_version: "0.3.1"

repos:
  # prek builtin hooks - no network/env needed, instant execution
  - repo: builtin
    hooks:
      - id: trailing-whitespace
        priority: 0
      - id: end-of-file-fixer
        priority: 0
      - id: check-yaml
        args: [--allow-multiple-documents]
        priority: 0
      - id: check-toml
        priority: 0
      - id: check-json
        priority: 0
      - id: check-added-large-files
        priority: 0
      - id: check-merge-conflict
        priority: 0
      - id: check-case-conflict
        priority: 0
      - id: check-symlinks
        priority: 0
      - id: check-executables-have-shebangs
        priority: 0
      - id: mixed-line-ending
        args: [--fix=lf]
        priority: 0
      - id: detect-private-key
        priority: 0

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            --strict,
            --verbose,
            feat,
            fix,
            perf,
            build,
            chore,
            ci,
            docs,
            style,
            refactor,
            test,
          ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run ty check src
        language: system
        pass_filenames: false
        files: ^src/.*\.py$

      - id: pytest-cov
        name: pytest with 90% coverage
        entry: uv run pytest --cov=surfmon --cov-fail-under=90 -q
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

fix: rewrite README, add CLI docs, deploy GitHub Pages, clean up stale files
  .github/workflows/docs.yml
  .gitignore
  README.md
  README_TEMPLATE.md
  docs/reference/cli.md
  mkdocs.yml
  pyproject.toml
  reports/watch/20260204-134518.json
  reports/watch/20260204-135024.json
  reports/watch/20260204-135529.json
  reports/watch/20260204-140034.json
  reports/watch/20260204-140538.json
  reports/watch/20260204-141040.json
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/output.py
  surfmon-20260204-162159.json
  surfmon-20260204-164700.json
  surfmon-20260204-164700.md
  uv.lock
Due: ty, pytest-cov

fix: rewrite README, add CLI docs, deploy GitHub Pages, clean up stale files (#19)
  .github/workflows/docs.yml
  .gitignore
  README.md
  README_TEMPLATE.md
  docs/reference/cli.md
  mkdocs.yml
  pyproject.toml
  reports/watch/20260204-134518.json
  reports/watch/20260204-135024.json
  reports/watch/20260204-135529.json
  reports/watch/20260204-140034.json
  reports/watch/20260204-140538.json
  reports/watch/20260204-141040.json
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/output.py
  surfmon-20260204-162159.json
  surfmon-20260204-164700.json
  surfmon-20260204-164700.md
  uv.lock
Due: ty, pytest-cov

refactor: centralize rich imports and table/panel factories in output.py
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/output.py
Due: ty, pytest-cov

refactor: centralize rich imports and table/panel factories in output.py (#20)
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/output.py
Due: ty, pytest-cov

fix: normalize naive analyze timestamps as local time and export output constants
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/config.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
Due: ty, pytest-cov

refactor: add strict ruff lint rules and fix all violations (#23)
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/config.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
Due: ty, pytest-cov

refactor: split oversized functions to meet pylint complexity defaults
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
Due: ty, pytest-cov

refactor: split oversized functions to meet pylint complexity defaults (#24)
  pyproject.toml
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
Due: ty, pytest-cov

chore: upgrade ruff to 0.15.1, fix except clause formatting bug
  prek.toml
  pyproject.toml
  uv.lock
Due: none

chore: upgrade ruff to 0.15.1, fix except clause formatting bug (#27)
  prek.toml
  pyproject.toml
  uv.lock
Due: none

fix: unify main-process detection logic between cli.py and monitor.py
  src/surfmon/cli.py
  src/surfmon/monitor.py
Due: ty, pytest-cov

fix: unify main-process detection logic between cli.py and monitor.py (#30)
  src/surfmon/cli.py
  src/surfmon/monitor.py
Due: ty, pytest-cov

refactor: consolidate duplicate PTY threshold constants
  src/surfmon/cli.py
  src/surfmon/output.py
Due: ty, pytest-cov

refactor: consolidate duplicate PTY threshold constants (#31)
  src/surfmon/cli.py
  src/surfmon/output.py
Due: ty, pytest-cov

chore: copier update to 0.27.11, fix stale __all__ exports
  .copier-answers.yml
  prek.toml
  pyproject.toml
  src/surfmon/output.py
Due: ty, pytest-cov

chore: copier update to 0.27.11, fix stale __all__ exports (#32)
  .copier-answers.yml
  prek.toml
  pyproject.toml
  src/surfmon/output.py
Due: ty, pytest-cov

chore(release): 0.3.3
  pyproject.toml
  uv.lock
Due: none

docs: README improvements with animated header, screenshots, and VHS tape
  CONTRIBUTING.md
  README.md
  docs/hooks/readme_images.py
  docs/index.md
  docs/screenshots/analyze.png
  docs/screenshots/check-basic.png
  docs/screenshots/compare.png
  docs/screenshots/header.gif
  docs/screenshots/surfmon-analysis.png
  docs/screenshots/watch.gif
  mkdocs.yml
  prek.toml
  pyproject.toml
  scripts/generate_header.py
  watch-demo.tape
Due: pytest-cov

docs: README improvements with animated header, screenshots, and VHS tape (#34)
  CONTRIBUTING.md
  README.md
  docs/hooks/readme_images.py
  docs/index.md
  docs/screenshots/analyze.png
  docs/screenshots/check-basic.png
  docs/screenshots/compare.png
  docs/screenshots/header.gif
  docs/screenshots/surfmon-analysis.png
  docs/screenshots/watch.gif
  mkdocs.yml
  prek.toml
  pyproject.toml
  scripts/generate_header.py
  watch-demo.tape
Due: pytest-cov

fix: add self-updating coverage badge
  .github/workflows/ci.yml
  README.md
Due: none

fix: add self-updating coverage badge (#35)
  .github/workflows/ci.yml
  README.md
Due: none

chore(release): 0.3.4
  pyproject.toml
  uv.lock
Due: none

fix: harden file paths and error handling for uv tool usage
  prek.toml
  src/surfmon/cli.py
  tests/test_cli.py
  tests/test_monitor.py
  uv.lock
Due: ty, pytest-cov

fix: harden file paths and error handling for uv tool usage (#37)
  prek.toml
  src/surfmon/cli.py
  tests/test_cli.py
  tests/test_monitor.py
  uv.lock
Due: ty, pytest-cov

chore(release): 0.3.5
  pyproject.toml
  uv.lock
Due: none

fix: change wording on PTY reporting
  src/surfmon/monitor.py
  uv.lock
Due: ty, pytest-cov

fix: change wording on PTY reporting (#38)
  src/surfmon/monitor.py
  uv.lock
Due: ty, pytest-cov

chore(release): 0.3.6
  pyproject.toml
  uv.lock
Due: none

feat: Windsurf Insiders support, require --target flag, improve plots
  src/surfmon/cli.py
  src/surfmon/config.py
  src/surfmon/monitor.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_config.py
Due: ty, pytest-cov

feat: Windsurf Insiders support, require --target flag, improve plots (#42)
  src/surfmon/cli.py
  src/surfmon/config.py
  src/surfmon/monitor.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_config.py
Due: ty, pytest-cov

fix: use terminal-aware panel width, fix emoji rendering, improve error messages
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/monitor.py
  src/surfmon/output.py
Due: ty, pytest-cov

fix: use terminal-aware panel width, fix emoji rendering, improve error messages (#43)
  src/surfmon/cli.py
  src/surfmon/compare.py
  src/surfmon/monitor.py
  src/surfmon/output.py
Due: ty, pytest-cov

docs: updates README to reflect latest changes
  README.md
  docs/screenshots/check-basic.png
Due: none

chore(release): 0.4.0
  pyproject.toml
  uv.lock
Due: none

docs: updates README to reflect latest changes (#44)
  README.md
  docs/screenshots/check-basic.png
Due: none

feat: show elapsed session time in watch dashboard
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  prek.toml
  pyproject.toml
  scripts/check-template-update.sh
  src/surfmon/cli.py
  tests/test_cli.py
  tests/test_monitor.py
  uv.lock
Due: ty, pytest-cov

feat: show elapsed session time in watch dashboard (#45)
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  prek.toml
  pyproject.toml
  scripts/check-template-update.sh
  src/surfmon/cli.py
  tests/test_cli.py
  tests/test_monitor.py
  uv.lock
Due: ty, pytest-cov

chore(release): 0.5.0
  pyproject.toml
  uv.lock
Due: none

feat: add pty-snapshot command with forensic PTY leak diagnostics
  README.md
  src/surfmon/cli.py
  src/surfmon/monitor.py
  src/surfmon/output.py
  tests/test_cli.py
  tests/test_monitor.py
Due: ty, pytest-cov

chore: update copier-uv-bleeding template to 0.31.11
  .copier-answers.yml
  .envrc
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  docs/reference/cli.md
  mkdocs.yml
  prek.toml
  pyproject.toml
  scripts/check-pathlib-encoding.py
  scripts/check-template-update.sh
  src/surfmon/cli.py
  uv.lock
  zensical.toml
Due: ty, pytest-cov
